.buy-button{
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 300px;
    border-radius: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}
.price{
    display: inline;
    border-radius: 25px;
}

.quantity-menu-input{
    width: 30px;
}
.img-menu{
    padding: 5px;
}


@media only screen and (min-width: 600px) {
    
    .img-menu{
        max-height: 150px;
        max-width: 150px;
        padding: 10px;
    }
}
